.how-to-buy-wrapper {
    padding-bottom: 150px;
}

.learning-phrase {
    padding-bottom: 50px;
    text-align: center;
    color: $white;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-family: 'GilroyBold',
            sans-serif;
        color: $orange;
    }
}

.how-to-video-wrapper {
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    height: 80%;

    iframe {
        padding: 0px;
        margin: 0px;
        height: 100%;
        width: 90%;
    }
}


.button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.wallet-button {
    color: $white;
    background-color: $darkblue;
    font-size: 1.5em;
    border: 2px solid $white;
}