.full-socials {
    background-color: $darkblue;
    border-top: $orange solid 1px;
    color: $white;
    justify-content: center;
    text-align: center;
}

.follow-socials {
    padding-top: 40px;
}

.copyright {
    display: flex;
    justify-content: flex-start;
}

.socials-footer {
    display: flex;
    justify-content: flex-end;

    i {
        font-size: 2em;
        padding: 10px;
    }
}

.legal {
    padding-top: 20px;
    font-size: 9px;
    color: $orange;
    text-align: center;
}