@import "./variables.scss";
@import "./navigation.scss";
@import "./home.scss";

.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}

a:link {
    text-decoration: none;
}

.app {
    display: grid;
    background-image: linear-gradient(to bottom, #0a0f28, #351e47, #6c2459, #a42859, #d23e48, #e1585b, #f06f6e, #ff8682, #ffa2b9, #f9c3e2, #f3e1f7, #fcfcfc);
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.12fr 1fr;
}