$white: #FAFAFA;
$orange: #F47E14;
$blue: #0B0F27;
$darkblue:#070a19;

@font-face {
    font-family: "GilroyMedium";
    src: url("../../static/assets/fonts/GilroyMedium.woff") format("woff"),
        url("../../static/assets/fonts/GilroyMedium2.woff2") format("woff2"),
}

@font-face {
    font-family: "GilroyBold";
    src: url("../../static/assets/fonts/GilroyBold.woff") format("woff"),
        url("../../static/assets/fonts/GilroyBold2.woff2") format("woff2"),
}


$theme-colors:("primary":$white,
    "secondary":$white,
);

$link-color:$white;
$link-hover-color:$orange;
$font-color:$white;

@import "node_modules/bootstrap/scss/bootstrap.scss";